@model HotelReservationManager.Models.Rooms

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rooms</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomsCapacity" class="control-label"></label>
                <input asp-for="RoomsCapacity" class="form-control" />
                <span asp-validation-for="RoomsCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomsType" class="control-label"></label>
                <input asp-for="RoomsType" class="form-control" />
                <span asp-validation-for="RoomsType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Is_Available" class="control-label"></label>
                <input asp-for="Is_Available" class="form-control" />
                <span asp-validation-for="Is_Available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price_Adult" class="control-label"></label>
                <input asp-for="Price_Adult" class="form-control"/>
                <span asp-validation-for="Price_Adult" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price_Child" class="control-label"></label>
                <input asp-for="Price_Child" class="form-control" />
                <span asp-validation-for="Price_Child" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
