@model HotelReservationManager.Models.Reservation

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ResId" />
            <div class="form-group">
                <label asp-for="RoomsId" class="control-label"></label>
                <input asp-for="RoomsId" class="form-control" />
                <span asp-validation-for="RoomsId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usename" class="control-label"></label>
                <input asp-for="Usename" class="form-control" />
                <span asp-validation-for="Usename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Arrival_date" class="control-label"></label>
                <input asp-for="Arrival_date" class="form-control" />
                <span asp-validation-for="Arrival_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Departure_date" class="control-label"></label>
                <input asp-for="Departure_date" class="form-control" />
                <span asp-validation-for="Departure_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breakfast" class="control-label"></label>
                <input asp-for="Breakfast" class="form-control" />
                <span asp-validation-for="Breakfast" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="All_inclusive" class="control-label"></label>
                <input asp-for="All_inclusive" class="form-control" />
                <span asp-validation-for="All_inclusive" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
